/* Area del formulario */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* Color de los botones */

.btn-iniciar-sesion{
    background-color: #28007b;
    color: white;
  }
  .btn-iniciar-sesion:hover{
    background-color: #08c79c;
    color: white;
  }

  /* icono del area del login*/

.imagenHome{
    
    padding-top: 10px;
    padding-left: 10px;
  }